@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Nunito+Sans:ital,wght@0,500;1,500&family=Poppins&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    display: inline-flex;
    padding: 20px 40px;
    font-size: 15px;
    align-items: flex-start;
    gap: 20px;
    color: white;
    background-color: #FF42A5;
    border-radius: 48px;
    transition: .2s linear;
}

.btn-primary:hover {
    transform: scale(1.1);
    background-color: white;
    color: #FF42A5;
    border: 1px solid #FF42A5;
}

/*navbar Start*/
.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-pic{
    width: 85px;
    height: 40px;
}

.logo h3 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.logo .single-col {
    color: #ff42a5;
}

nav > ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

nav li {
    margin: 15px;
}

nav li a {
    text-decoration: none;
    color: #3c354f;
    font-size: 18px;
    font-weight: 500;
}

.btn {
    width: 260px;
    height: 55px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    font-size: 18px;
    gap: 5px;
}

.fa-youtube {
    color: red;
    font-size: 25px;
}

.fa-tiktok {
    color: #000000;
    font-size: 25px;
}
/*navbar End*/

/*Banner Start*/
.banner {
    display: flex;
    justify-content: space-around;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    margin-left: 50px;
    margin-top: 50px;
}

.banner-content h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    font-size: 93px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-images img {
    display: block;
}

.extra-image {
    display: flex;
    justify-content: space-between;
}

.fa-play-circle {
    color: #F948B2;
}

.fa-download {
    color: #F948B2;
}

.fa-contact-card {
    color: #0B0223;
}

.second-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background-color: #4EC5F7;
    color: white;
    transition: .2s linear;
}

.second-btn:hover {
    transform: scale(1.1);
    background-color: white;
    color: #4EC5F7;
    border: 1px solid #4EC5F7;
}
/*banner End*/

/*we are Start*/
.we-are-container {
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.we-are-images img {
    width: 770px;
    height: 490px;
}

.we-are-content {
    text-align: right;
}

.we-are-content h3 {
    font-size: 48px;
    font-weight: 700;
    text-align: right;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.we-are-content p {
    width: 500px;
    color: #534c64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
}

.we-are-content .voices {
    color: #534c64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.we-are-content .unless {
    color: #534c64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
/*we are End*/

/*video game Start*/
.video-games-content {
    text-align: center;
}

.video-games-content h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.video-games-content .funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-games-content p {
    color: #534c64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.video-games-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video-games-cards .card {
    width: 350px;
    height: 400px;
    border-radius: 16px;
    margin: 10px;
    padding: -30px;
}

.video-games-cards .card img {
    width: 300px;
    height: 400px;
}

.card .card-box {
    opacity: 1;
}
/*video game End*/

/*anytime Start*/
.anytime-container {
    margin-top: 50px;
    padding: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-bottom: 50px;
}

.anytime-images {
    width: 635px;
    height: 650px;
    border-radius: 8px;
    margin-top: 50px;
}

.anytime-images .ractac {
    width: 260px;
    height: 300px;
    border-radius: 8px;
    margin-top: -200px;
    margin-left: -150px;
    margin-bottom: -100px;
}

.anytime-content {
    position: relative;
    padding: 50px;
}

.anytime-content h3 {
    width: 400px;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.anytime-content .online-games {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.anytime-content p {
    width: 380px;
    color: #534c64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
}
/*anytime End*/

/*game button Start*/
.game-button-container {
    display: grid;
    padding: 200px;
    margin: auto;
}

.first-sponsers {
    display: flex;
    align-items: center;
    width: 240px;
    height: 80px;
    border-radius: 50px;
    margin: 20px;
    gap: 25px;
    transition: .3s linear;
}

.first-sponsers img {
    width: 100px;
}

.first-sponsers p {
    font-size: 20px;
    font-weight: 600;
    align-items: center;
}

.second-sponsers {
    display: flex;
    align-items: center;
    width: 300px;
    height: 80px;
    border-radius: 50px;
    margin: 50px;
    gap: 50px;
    transition: .3s linear;
}

.second-sponsers img {
    width: 200px;
}

.second-sponsers p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}